body {
 color:#3c4761;
}

/* LOGO */
#logo {
 margin-left:15%;
 margin-top:20px;
}

/* MENU */
#menu  ul {
 padding:0;
 margin:0;
 list-style-type:none;
}

#menu  li {
 margin-left:2px;
 float:left;
}

#menu ul li a {
 font-family: 'Titillium Web', sans-serif;
 font-size:16px;
 color:#3c4761;
 text-decoration:none;
 padding:10px;
}

#menu ul li a:hover {
 background-color:rgba(0, 0, 0, 0.5);
 background-size: 100% 100%;
 text-decoration:none;
 color:#3c4761;
}

#menu {
 position: absolute;
 top: 20px;
 right: 13%;
}

/* TITRE */

#titre h1 {
 font-family: 'Titillium Web', sans-serif;
 font-weight: bold;
 font-size:31px;
 text-align:center;
}

#titre img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:60px;
 height:5px;
}

#titre p {
 font-family: 'Titillium Web', sans-serif;
 text-align:center;
}


/* ÉLÉMENTS */
#elements #design {
    margin-left:15%;
	display: inline-block;
    text-align:center;
  	position: relative;
}

#elements #html, #graphic, #ui {
    margin-left:7%;
	display: inline-block;
    text-align:center;
  	position: relative;
}

#elements h2 {
 font-family: 'Titillium Web', sans-serif;
 font-weight: bold;
 display: inline;
}

#elements p {
 font-family: 'Titillium Web', sans-serif;
 position: absolute;
 top: 20%;
 left: 53%;
 transform: translate(-50%, -50%);
 font-size: 46px;
}